# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\Carlos\Desktop\Universidade\EDA\projeto\.idea/dataSources/
/dataSources.local.xml
